@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograghy" as *;

/* BillDetails.scss */

.bill-details {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  /* Define styles for different sections */
  .bill-details__section {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: $primary-color;
    border: 0.3rem solid $background-color;
    border-bottom: none;

    &-heading {
      color: $text-color;
      width: 100%;
    }

    &--half {
      width: calc(50%);
      border-right: none;
    }

    &--image {
      padding: 0;
    }

    ul {
      list-style-type: none; /* Remove default bullets */
      padding-left: $spacing-unit; /* Remove default padding */
      li {
        padding-left: $spacing-unit;
      }
    }
  }

  &__dalle-image {
    width: 100%;
    height: auto;
  }

  /* Define specific list-style-type styles for different sections */
  .bill-details__changes ul {
    list-style-type: "\1F4A1";
  }

  .bill-details__pros ul {
    list-style-type: "\1F44D";
  }

  .bill-details__cons ul {
    list-style-type: "\1F44E";
  }
}
