@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograghy" as *;

/* BillDetails.scss */

.bill-details {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-unit;
    justify-content: center;
  }

  /* Define styles for different sections */
  .bill-details__section {
    width: calc(100% - $spacing-unit);
    padding: 0.5rem;
    background-color: $primary-color;
    border: 0.1rem solid $secondary-color;
    border-radius: $border-radius;

    @include desktop {
      width: 50%;
    }

    &-heading {
      width: 100%;
    }

    &--half {
      width: calc(50% - $spacing-unit);
      @include desktop {
        width: 50%;
      }
    }

    &--image {
      padding: 0;
      border: none;
    }

    ul {
      list-style-type: none; /* Remove default bullets */
      padding-left: 2 * $spacing-unit; /* Remove default padding */
      li {
        padding-left: $spacing-unit;
      }
    }

    &--progress {
      display: flex;
      align-items: baseline;
      h3 {
        width: auto;
      }
      @include desktop {
        width: 100%;
      }
    }
  }

  &__intro-container {
    display: flex;
    gap: $spacing-unit;
  }

  &__dalle-image {
    width: 100%;
    border-radius: $border-radius;
    @include desktop {
      // width: 50%
    }
  }

  &__pros-cons-container {
    display: flex;
    gap: $spacing-unit;
  }

  /* Define specific list-style-type styles for different sections */
  .bill-details__changes {
    @include desktop {
      width: 100%;
    }
    ul {
      list-style-type: "\1F4A1";
    }
  }

  .bill-details__pros {
    ul {
      list-style-type: "\1F44D";
    }
  }

  .bill-details__cons ul {
    list-style-type: "\1F44E";
  }
}
