@use "./variables" as *;

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTLight.otf) format(opentype);
	font-weight: 400;
}
@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTBook.otf) format(opentype);
	font-weight: 450;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTDemi.otf) format(opentype);
	font-weight: 500;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTMedium.otf) format(opentype);
	font-weight: 600;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTHeavy.otf) format(opentype);
	font-weight: 650;
}

@font-face {
	font-family: "tiempos-headline";
	src: url(../../assets/fonts/TiemposHeadline-Regular.otf) format(opentype);
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: "caslon-graphique";
	src: url(../../assets/fonts/CaslonGraphique-Opti.otf) format(opentype);
	font-weight: 400;
	font-style: regular;
}


// Define font-family variables
$font-family-regular: "DMSerifText-Regular";
$font-family-italic: "DMSerifText-Italic";

// Typography variables

// Font sizes
$font-size-base: 12px; // Base font size
$font-size-h1: 2rem; // Heading 1
$font-size-h2: 1.5rem; // Heading 2
$font-size-h3: 1.25rem; // Heading 3
$font-size-h4: 1.125rem; // Heading 4
$font-size-h5: 1rem; // Heading 5
$font-size-p: 0.9rem; // Paragraph

// Line heights
$line-height-h1: 1.3; // Heading 1
$line-height-h2: 1.3; // Heading 2
$line-height-h3: 1.3; // Heading 3
$line-height-h4: 1.3; // Heading 4
$line-height-h5: 1.3; // Heading 5
$line-height-p: 1.3; // Paragraph

// Font weights
$font-weight-h1: 1000; // Heading 1
$font-weight-h2: 800; // Heading 2
$font-weight-h3: 700; // Heading 3
$font-weight-h4: 700; // Heading 4
$font-weight-h5: 700; // Heading 5
$font-weight-p: 400; // Paragraph

// Responsive Typography

// // Tablet
// @media screen and (min-width: 768px) {
//   $font-size-h1: 2.5rem; // Increase heading 1 font size
//   $font-size-h2: 2rem; // Increase heading 2 font size
//   $font-size-h3: 1.75rem; // Increase heading 3 font size

//   body {
//     font-family: $font-family-regular; // Switch to the large font for larger screens
//   }
// }

// // Desktop
// @media screen and (min-width: 1024px) {
//   $font-size-h1: 3rem; // Further increase heading 1 font size for desktop
//   $font-size-h2: 2.5rem; // Further increase heading 2 font size for desktop
//   $font-size-h3: 2rem; // Further increase heading 3 font size for desktop
//   $font-size-h4: 1.5rem; // Increase heading 4 font size for desktop
//   $font-size-h5: 1.25rem; // Increase heading 5 font size for desktop
//   $font-size-p: 1.125rem; // Increase paragraph font size for desktop
// }

// Apply Typography Styles

// Apply the font families
body {
  font-family: $font-family-regular; // Use the small font by default
  font-size: $font-size-base;
}

a {
  text-decoration: none;
  color: $text-color;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-h1;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-h2;
}

h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-h3;
}

h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: $font-weight-h4;
}

h5 {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
  font-weight: $font-weight-h5;
}

p {
  font-size: $font-size-p;
  line-height: $line-height-p;
  font-weight: $font-weight-p;
  color: $subtext-color;
}
