// Color Palette
$primary-color: #ffffff;
$secondary-color: #9b9b9b;   // Soft pastel peach
$tertiary-color: #a6ccb3;    // Dusty mint green
$accent-color: #20162a;      // Dark brown accent color
$background-color: #ffffff;
$text-color: #1e1e1e;       // Dark text color for contrast

// Spacing
$spacing-unit: 0.5rem; // 0.5rem spacing unit

// Margins
$margin-small: 0.5rem;   // Small margin
$margin-medium: 1rem;    // Medium margin
$margin-large: 1.5rem;   // Large margin

// Paddings
$padding-xsmall: 0.25rem;
$padding-small: 0.5rem;  // Small padding
$padding-medium: 1rem;   // Medium padding
$padding-large: 1.5rem;  // Large padding

// Border Radius
$border-radius: 4px;