@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograghy" as *;

.bill {
  width: calc(50% - $margin-large); /* Set the width of each bill to 50% */
  background-color: white; /* Add background color or other styles as needed */
  padding: $spacing-unit; /* Adjust the padding within each bill square */
  border: 0.1rem solid $secondary-color; /* Add a border or other styling as needed */
  border-radius: 1rem;
  // box-shadow: 0px 3px 5px $secondary-color; /* Soft shadow */
  transition: transform 0.2s ease-in-out; /* Add a subtle hover effect */
  
  @include tablet {
    width: calc(33% - $spacing-unit);
  }

  @include desktop {
    width: calc(25% - $spacing-unit);
  }

  &:hover {
    transform: translateY(-3px) translateX(-2px); /* Move the bill up slightly on hover */
    box-shadow: 2px 2px 4px $accent-color; /* Increase shadow on hover */
  }

  &:active {
    transform: translateY(1px); /* Move the bill down slightly when clicked */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add an inset shadow effect */
    transition: transform 1s ease-in-out; /* Add a smooth transition */
  }

  &__container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    padding-top: $padding-small;
    gap: $spacing-unit; /* Adjust the gap between bills */
  }

  // possible animations
  //   &:active {
  //     transform: scale(5); /* Zoom in when the bill is clicked */
  //     transition: transform 10s ease-in-out; /* Add a duration for the zoom-in effect */
  //   }
}
