@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograghy" as *;

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  display: flex;
  flex-direction: column;
}

.loading-screen__image {
  margin: $margin-large;
  border: 1rem solid transparent; /* Initial border */
  border-radius: $border-radius; /* Make it circular */
  animation: border-pulse 1.5s infinite alternate; /* Pulse animation */
}

@keyframes border-pulse {
  0% {
    border-color: rgba(255, 0, 0, 0.5); /* Red with opacity */
  }
  50% {
    border-color: rgba(0, 255, 0, 0.5); /* Green with opacity */
  }
  100% {
    border-color: rgba(0, 0, 255, 0.5); /* Blue with opacity */
  }
}
