@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograghy" as *;

.header {
  z-index: 1;
  background-color: #20162a;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  @include desktop {
    max-height: 10vw;
    width: calc(100% + 2 * $spacing-unit);
    margin-right: -$spacing-unit;
  }

  &__logo {
    width: 20%;
    // transition: transform 0.2s ease-in-out; /* Add a subtle hover effect */

    // &:hover {
    //   transform: translateY(-3px) translateX(-2px); /* Move the bill up slightly on hover */
    //   box-shadow: 2px 2px 4px $accent-color; /* Increase shadow on hover */
    // }
    @include desktop {
      max-height: 10vw;
      width: auto;
    }
  }

  &__text {
    color: white;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  
}

.qr-code {
position: absolute;
left: 0;
top: 0;
}